@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body {
    background-color: rgba(212, 210, 210, 0.574);
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
}